:root {
  --card-height: 150px;
  --card-width: 80%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #021526;
  margin: 20px;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 500px;
  width: 100%;
  background-color: #141414;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border: 5px solid transparent;
  background-image: linear-gradient(#141414, #141414),
    linear-gradient(to right, #5d5cff, #00c2c2);
  background-origin: border-box;
  background-clip: content-box, border-box;
  justify-content: center;
  flex-direction: column;
}

h1,
h2 {
  color: #e2e2b6;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
}

.form-group {
  display: flex;
  color: #e2e2b6;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

label {
  flex: 1;
}

input {
  flex: 2;
  padding: 5px;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #262626;
  color: #e2e2b6;
}

button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #6b37ff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4e00c2;
}

.show-button {
  display: flex;
  justify-content: center;
  margin: 10px;
}

#show-list-button {
  padding: 10px 20px;
  background-color: #6b37ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#show-list-button:hover {
  background-color: #4e00c2;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  color: #021526;
  margin: 15% auto;
  margin-top: 15%;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.empty_list {
  color: rgba(250, 249, 249, 0.5);
  margin: 20px 0;
  font-size: 16px;
  text-align: center;
}

.close {
  color: #021526;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
  text-decoration: none;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.card {
  background: #191c29;
  position: relative;
  width: var(--card-width);
  min-height: var(--card-height);
  border-radius: 6px;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.5);
}

.close {
  color: white;
}

.card:hover {
  color: rgba(255, 255, 255, 1);
  transition: color 1s;
}

.card::before {
  content: "";
  width: 103%;
  height: 105%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  position: absolute;
  z-index: -1;
  top: -2%;
  left: -1.5%;
  animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: -1%;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 5 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
